@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Sora");

.window {
    -fx-background-color: #2E2E2E;
}

.h1 {
    -fx-font-family: Sora;
    -fx-font-size: 80px;
    -fx-text-alignment: center;
    -fx-text-fill: #F2F2F2;
}

.h2 {
    -fx-font-family: Sora;
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-text-fill: #F2F2F2;
}

.normal-text {
    -fx-font-family: Montserrat;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: #F2F2F2;
}
