@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Sora");

.nav-button {
    -fx-background-color: #fafafa;
}

.nav-button .focused {
    -fx-background-color: #f2f2f2;
}
#transparent {
    background-color: rgba(46, 46, 46, 0.6);
    -fx-background-color: rgba(46, 46, 46, 0.6);
}

.window {
    background-color: #2e2e2e;
    -fx-background-color: #2e2e2e;
}

.overlay {
    background-color: #cef6e3;
    -fx-background-color: #cef6e3;
    -fx-background-radius: 10px;
}

#tutorial-window {
    background-color: #424242;
    -fx-background-color: #424242;
    -fx-background-radius: 10px;
}

.h1 {
    font-family: Sora;
    font-size: 80px;
    -fx-font-family: Sora;
    -fx-font-size: 80px;
    -fx-text-alignment: center;
    -fx-text-fill: #fafafa;
}

.h2-dark {
    font-family: Sora;
    font-size: 50px;
    -fx-font-family: Sora;
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.h2 {
    font-family: Sora;
    font-size: 50px;
    -fx-font-family: Sora;
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-text-fill: #fafafa;
}

.h3-dark {
    font-family: Sora;
    font-size: 32px;
    -fx-font-family: Sora;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;

}

.h3 {
    font-family: Sora;
    font-size: 32px;
    -fx-font-family: Sora;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-text-fill: #cef6e3;
}

.h3:hover{ 
    -fx-text-fill: #fafafa;
}

.h4 {
    font-family: Sora;
    font-size: 28px;
    -fx-font-family: Sora;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-text-fill: #fafafa;
}

.normal-text {
    font-family: Montserrat;
    font-size: 24px;
    -fx-font-family: Montserrat;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: #fafafa;
}

.fading-text {
    font-family: Montserrat;
    font-size: 24px;
    -fx-font-family: Montserrat;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: #a4a4a4;
}

.dark-text {
    font-family: Montserrat;
    font-size: 24px;
    -fx-font-family: Montserrat;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.text-button {
    background-color: transparent;
    font-family: Sora;
    font-size: 28px;
    -fx-background-color: transparent;
    -fx-font-family: Sora;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-text-fill: #fafafa;
}

.text-button:hover {
    -fx-text-fill: #cef6e3;
}

.big-text-button {
    background-color: transparent;
    font-family: Sora;
    font-size: 32px;
    -fx-background-color: transparent;
    -fx-font-family: Sora;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-text-fill: #cef6e3;
}

.big-text-button:hover {
    -fx-text-fill: #fafafa;
}

.module {
    background-color: #fafafa;
    max-width: 500px;
    -fx-background-radius: 5px;
    -fx-pref-height: 70px;
    -fx-pref-width: 500px;
    -fx-max-width: 500px;
    -fx-background-color: #fafafa;
}

#highscore-module {
    background-color: #cef6e3;
    -fx-background-color: #cef6e3;
}

.block {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
}

.block-hit {
    background-color: #cef6e3;
    -fx-background-color: #cef6e3;
}

.empty-block {
    background-color: #424242;
    -fx-background-color: #424242;
}

.combo-box {
    font-family: Sora;
    font-size: 20px;
    background-color: transparent;
    border-color: #2e2e2e;
    border-width: 2px;
    border-radius: 5px;
    -fx-font-size: 20px;
    -fx-font-family: Sora;
    -fx-text-fill: #2e2e2e;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #2e2e2e;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.combo-box:hover {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
}

.combo-box-popup {
    background-color: #cef6e3;
    -fx-text-fill: #2e2e2e;
   -fx-background-color: #cef6e3;
}

.combo-box-popup .list-view .list-cell {
    background-color: #cef6e3;
    -fx-text-fill: #2e2e2e;
   -fx-background-color: #cef6e3;
}

.combo-box-popup .list-view .list-cell:hover {
    background-color: #fafafa;
   -fx-text-fill: #2e2e2e;
   -fx-background-color: #fafafa;
}

.slider {
    background-color: transparent;
    -fx-control-inner-background: #cef6e3;
    -fx-background-color: transparent;
}

.slider .track {
    -fx-pref-height: 12px;
}

.slider .thumb {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}

.transparent-combo-box {
    font-family: Sora;
    font-size: 28px;
    background-color: transparent;
    border-width: 2px;
    border-radius: 5px;
    -fx-font-size: 28px;
    -fx-font-family: Sora;
    -fx-text-alignment: center;
    -fx-text-fill: #fafafa;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.transparent-combo-box:hover {
    background-color: transparent;
    -fx-background-color: transparent;
}

.transparent-combo-box .cell {
    -fx-text-fill: #fafafa;
}

.transparent-combo-box-popup {
    background-color: transparent;
   -fx-background-color: transparent;
}

.transparent-combo-box-popup .list-view .list-cell {
    background-color: transparent;
   -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:hover {
    background-color: transparent;
   -fx-background-color: transparent;
}

.line {
    stroke: #a4a4a4;
    -fx-stroke: #a4a4a4;
}

.text-field {
    font-family: Sora;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    background-color: #424242;
    -fx-background-color: #424242;
    -fx-background-radius: 5px;
    -fx-text-fill: #fafafa;
    -fx-font-family: Montserrat;
    -fx-font-size: 22px;
    -fx-padding: 2 2 2 2;
}
