@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Sora");

/* TEXT */

.h1 {
    font-family: Sora;
    font-size: 80px;
    -fx-font-family: Sora;
    -fx-font-size: 80px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.h2 {
    font-family: Sora;
    font-size: 50px;
    -fx-font-family: Sora;
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.h3 {
    font-family: Sora;
    font-size: 32px;
    -fx-font-family: Sora;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-text-fill: #f79f81;
}

.h3:hover{ 
    -fx-text-fill: #2e2e2e;
}

.h4 {
    font-family: Sora;
    font-size: 28px;
    -fx-font-family: Sora;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.normal-text {
    font-family: Montserrat;
    font-size: 24px;
    -fx-font-family: Montserrat;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

#fading {
    -fx-text-fill: #a4a4a4;
}

#dark {
    -fx-text-fill: #2e2e2e;
}


/* BUTTON */

.text-button {
    background-color: transparent;
    font-family: Sora;
    font-size: 28px;
    -fx-background-color: transparent;
    -fx-font-family: Sora;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.text-button:hover {
    -fx-text-fill: #f79f81;
}

#big-button {
    font-size: 32px;
    -fx-font-size: 32px;
    -fx-text-fill: #2e2e2e;
}

#big-button:hover {
    -fx-text-fill: #f79f81;
}

.icon-button {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat no-repeat;
    min-height: 25px;
    max-height: 25px;
    min-width: 25px;
    max-width: 25px;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-min-width: 25px;
    -fx-max-width: 25px;
}

#edit-button {
    background-size: 22px 22px;
    background-image: url("../images/edit_light.png");
    -fx-background-size: 22px 22px;
    -fx-background-image: url("../images/edit_light.png");
}

#remove-button {
    background-size: 18px 22px;
    background-image: url("../images/remove_light.png");
    -fx-background-size: 18px 22px;
    -fx-background-image: url("../images/remove_light.png");
}

#menu-button {
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 45px;
    background-color: transparent;
    background-size: 32px 25px;
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-image: url("../images/menu_light.png");
    -fx-min-height: 45px;
    -fx-max-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
    -fx-background-color: transparent;
    -fx-background-size: 32px 23px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-image: url("../images/menu_light.png");
}


/* MODULE */

.module {
    background-color: #f6d8ce;
    max-width: 500px;
    -fx-background-radius: 5px;
    -fx-pref-height: 70px;
    -fx-pref-width: 500px;
    -fx-max-width: 500px;
    -fx-background-color: #f6d8ce;
}

#highscore-module {
    background-color: #f79f81;
    -fx-background-color: #f79f81;
}

.window {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
}

.overlay {
    background-color: #f79f81;
    -fx-background-color: #f79f81;
    -fx-background-radius: 10px;
}

#tutorial-window {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
    -fx-background-radius: 10px;
}

#transparent {
    background-color: rgba(46, 46, 46, 0.6);
    -fx-background-color: rgba(46, 46, 46, 0.6);
}

#menu {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
}


/* BLOCK */

.block {
    background-color: #f6d8ce;
    -fx-background-color: #f6d8ce;
}

.hit {
    background-color:#f79f81;
    -fx-background-color: #f79f81;
}

.empty {
    background-color: #e6e6e6;
    -fx-background-color: #e6e6e6;
}

.combo-box {
    background-color: transparent;
    font-family: Sora;
    font-size: 20px;
    border-color: #fafafa;
    border-width: 2px;
    border-radius: 5px;
    -fx-font-size: 20px;
    -fx-font-family: Sora;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #fafafa;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}


/* DROP DOWN */

.combo-box:hover {
    background-color: #f6d8ce;
     -fx-background-color: #f6d8ce;
}

.combo-box-popup {
    background-color: #f79f81;
    -fx-text-fill: #2e2e2e;
    -fx-background-color: #f79f81;
}

.combo-box-popup .list-view .list-cell {
    background-color: #f79f81;
    -fx-text-fill: #2e2e2e;
    -fx-background-color: #f79f81;
}

.combo-box-popup .list-view .list-cell:hover{
    background-color: #f6d8ce;
    -fx-text-fill: #2e2e2e;
    -fx-background-color: #f6d8ce;
}

#transparent-combo-box {
    font-size: 28px;
    background-color: transparent;
    border-color: transparent;
    -fx-font-size: 28px;
    -fx-text-fill: #2e2e2e;
    -fx-border-color: transparent;
}

#transparent-combo-box:hover {
    background-color: transparent;
    -fx-background-color: transparent;
}

#transparent-combo-box .cell {
    -fx-text-fill: #2e2e2e;
}

#transparent-combo-box-popup {
    background-color: transparent;
   -fx-background-color: transparent;
}

#transparent-combo-box-popup .list-view .list-cell {
    background-color: transparent;
   -fx-background-color: transparent;
}

#transparent-combo-box-popup .list-view .list-cell:hover {
    background-color: transparent;
   -fx-background-color: transparent;
}


/* SLIDER */

.slider {
    background-color: transparent;
    -fx-control-inner-background: #f6d8ce;
    -fx-background-color: transparent;
}

.slider .track {
    -fx-pref-height: 12px;
}

.slider .thumb {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}


/* LINE */

.line {
    stroke: #a4a4a4;
    -fx-stroke: #a4a4a4;
}


/* TEXTFIELD */

.text-field {
    font-family: Sora;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    background-color: #f2f2f2;
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 5px;
    -fx-text-fill: #2e2e2e;
    -fx-font-family: Montserrat;
    -fx-font-size: 22px;
    -fx-padding: 5px 5px 5px 5px;
}

#error {
    border-color: darkred;
    border-width: 2px;
    border-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
    -fx-border-color: darkred;
}