@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Sora");

.window {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
}

.overlay {
    background-color: #f79f81;
    -fx-background-color: #f79f81;
    -fx-background-radius: 10px;
}

.h1 {
    font-family: Sora;
    font-size: 80px;
    -fx-font-family: Sora;
    -fx-font-size: 80px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.h2-dark {
    font-family: Sora;
    font-size: 50px;
    -fx-font-family: Sora;
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.h2 {
    font-family: Sora;
    font-size: 50px;
    -fx-font-family: Sora;
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.h3-dark {
    font-family: Sora;
    font-size: 32px;
    -fx-font-family: Sora;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.h3 {
    font-family: Sora;
    font-size: 32px;
    -fx-font-family: Sora;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-text-fill: #f79f81;
}

.h3:hover{ 
    -fx-text-fill: #2e2e2e;
}

.h4 {
    font-family: Sora;
    font-size: 28px;
    -fx-font-family: Sora;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.normal-text {
    font-family: Montserrat;
    font-size: 24px;
    -fx-font-family: Montserrat;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.dark-text {
    font-family: Montserrat;
    font-size: 24px;
    -fx-font-family: Montserrat;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.text-button {
    background-color: transparent;
    font-family: Sora;
    font-size: 28px;
    -fx-background-color: transparent;
    -fx-font-family: Sora;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-text-fill: #2e2e2e;
}

.text-button:hover {
    -fx-text-fill: #f79f81;
}

.module {
    background-color: #f6d8ce;
    max-width: 500px;
    -fx-background-radius: 5px;
    -fx-pref-height: 70px;
    -fx-pref-width: 500px;
    -fx-max-width: 500px;
    -fx-background-color: #f6d8ce;
}

#highscore-module {
    background-color: #f79f81;
    -fx-background-color: #f79f81;
}

.block {
    background-color: #f6d8ce;
    -fx-background-color: #f6d8ce;
}

.block-hit {
    background-color:#f79f81;
    -fx-background-color: #f79f81;
}

.empty-block {
    background-color: #f2f2f2;
    -fx-background-color: #f2f2f2;
}

.combo-box {
    background-color: transparent;
    font-family: Sora;
    font-size: 20px;
    border-color: #fafafa;
    border-width: 2px;
    border-radius: 5px;
    -fx-font-size: 20px;
    -fx-font-family: Sora;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #fafafa;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.combo-box:hover {
    background-color: #f6d8ce;
     -fx-background-color: #f6d8ce;
}

.combo-box-popup {
    background-color: #f79f81;
    -fx-text-fill: #2e2e2e;
    -fx-background-color: #f79f81;
}

.combo-box-popup .list-view .list-cell {
    background-color: #f79f81;
    -fx-text-fill: #2e2e2e;
    -fx-background-color: #f79f81;
}

.combo-box-popup .list-view .list-cell:hover{
    background-color: #f6d8ce;
    -fx-text-fill: #2e2e2e;
    -fx-background-color: #f6d8ce;
}

.slider {
    background-color: transparent;
    -fx-control-inner-background: #f6d8ce;
    -fx-background-color: transparent;
}

.slider .track {
    -fx-pref-height: 12px;
}

.slider .thumb {
    background-color: #fafafa;
    -fx-background-color: #fafafa;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}